/* .timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: 2em;
}

.timer-container input {
  width: 50px;
  height: 50px;
  margin: 10;
} */